<div class="container">
  <div class="row">
    <div class="col-12 mb-5">
      <div class="text-center">
        <img src="./../../../assets/404.jpg"
             class="img-fluid rounded">
      </div>
    </div>
    <div class="col-6">
      <a class="btn btn-primary btn-block btn-lg"
         [routerLink]="[ '/dj' ]"
         role="button">
        DJ
      </a>
    </div>
    <div class="col-6">
      <a class="btn btn-primary btn-block btn-lg"
         [routerLink]="[ '/party' ]"
         role="button">
        Go Party
      </a>
    </div>
  </div>
</div>
