<div class="container">
  <div class="row">
    <div class="col-12 mb-5">
      <img src="./../../assets/partytube.jpg"
           class="img-fluid rounded">
    </div>
    <div class="col-6">
      <a class="btn btn-primary btn-block btn-lg"
         [routerLink]="[ '/dj' ]"
         role="button">
        DJ
      </a>
    </div>
    <div class="col-6">
      <a class="btn btn-primary btn-block btn-lg"
         target="_blank"
         [routerLink]="[ '/party' ]"
         role="button">
        Go Party
      </a>
    </div>
  </div>
</div>
