<!-- <div class="container" style="height:100vh; background-color: greenyellow;">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div style="height: 100px;background-color: aquamarine;">now</div>
    </div>
  </div>
  <div class="row" style="background-color: wheat;height: calc(100vh - 100px);">
    <div class="col-md-6 h-100" style="background-color: violet">
      <div style="background-color: tomato; height: 50px;">Add to playlist</div>
      <div style="background-color: springgreen;height: calc(100vh - 150px);overflow: auto;">
        Playlist
        <div *ngFor="let item of getNumbers(50)">
          <div>{{ item }}</div>
        </div>
      </div>
    </div>
    <div class="col-md-6 h-100" style="background-color: salmon">
      <div style="background-color: royalblue; height: 50px;">Find</div>
      <div style="background-color: rebeccapurple;height: calc(100vh - 150px);overflow: auto;">
        History
        <div *ngFor="let item of getNumbers(50)">
          <div>{{ item }}</div>
        </div>
      </div>
    </div>
  </div>
</div> -->


<!-- <div class="container">
  <div class="row sticky-top">
    <div class="col-md-6 align-self-center">
      now
    </div>
    <div class="w-100"></div>
    <div class="col-md-6">
      add
    </div>
    <div class="col-md-6">
      find
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      Playlist
      <div *ngFor="let item of getNumbers(50)">
        <div>{{ item }}</div>
      </div>
    </div>
    <div class="col-md-6">
      history
    </div>
  </div>
</div> -->


<!-- <div class="container" style="height: 100vh; background-color: greenyellow;">
  <div class="row justify-content-center" style="background-color: green;">
    <div class="col-md-6" style="background-color: hotpink;">
      <app-now-playing></app-now-playing>
    </div>
  </div>
  <div class="row" style="background-color: gold;">
    <div class="col-md-6" style="background-color: lightcoral;">
      <app-playlist></app-playlist>
    </div>
    <div class="col-md-6">
      <app-historylist></app-historylist>
    </div>
  </div>
</div> -->

<!-- <div class="container" style="height: 100vh;">
  <div class="container-fluid d-flex flex-column h-100" style="background-color: greenyellow;">
    <div class="row justify-content-center">
      <div class="col-6">
        <app-now-playing></app-now-playing>
      </div>
    </div>
    <div class="row h-100" style="background-color: gold;">
      <div class="col-md-6" style="background-color: lavender">
        <app-playlist></app-playlist>
      </div>
      <div class="col-md-6">
        <app-historylist></app-historylist>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="container" style="height: 100vh; background-color: greenyellow;">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <app-now-playing></app-now-playing>
    </div>
  </div>
  <div class="row" style="background-color: gold;">
    <div class="col-md-6">
      <app-playlist></app-playlist>
    </div>
    <div class="col-md-6">
      <app-historylist></app-historylist>
    </div>
  </div>
</div> -->
